<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BOOKSYS.Properties.Settings.MBOOKConnectionString"
            connectionString="Data Source=69F638102711447\SQL2008;Initial Catalog=MBOOK;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>