<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="BOOKSYS.Properties.Settings.MBOOKConnectionString"
            connectionString="Data Source=PC-20180830JWSR\SQLEXPRESS;Initial Catalog=MBOOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>